/* Réinitialisation des marges et des rembourrages pour tous les éléments */
* {
    margin: 0;
    padding: 0;
}

/* Style du corps de la page */
body {
    background-color: black;
}

/* Style général pour les éléments du jeu */
.character {
    background-image: url("/public/img/alaa.jpg"); /* Image de la taupe */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.block {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    background-color: black;
    border: #F7DC6F 1px solid; /* Bordure jaune */
}

#boardGame {
    height: 500px;
    gap: 10px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
}

.none {
    display: none; /* Éléments avec la classe "none" initialement masqués */
    background-color: #F7DC6F; /* Fond jaune */
}

#score {
    color: #F7DC6F; /* Texte jaune */
    margin-top: 50px;
    font-size: 100px;
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.noah {
    display: flex;
    justify-content: center;
}

#startGame {
    width: 100px;
    height: 50px;
    background-color: black;
    border: #F7DC6F 1px solid;
    border-radius: 4px;
    color: #F7DC6F; /* Texte jaune */
}

.alaa {
    display: flex;
    justify-content: center;
}

input {
    width: 300px;
    height: 50px;
    margin: 10px;
    border: #F7DC6F 1px solid;
    border-radius: 4px;
    background: black;
    color: #F7DC6F; /* Texte jaune */
    padding: 5px;
}

span {
    margin-top: 20px;
    min-height: 5px;
    border-radius: 4px;
    background: black;
    color: #F7DC6F; /* Texte jaune */
}

#restartGame {
    margin-top: 50px;
    width: 100px;
    height: 50px;
    background-color: black;
    border: #F7DC6F 1px solid;
    border-radius: 4px;
    color: #F7DC6F; /* Texte jaune */
}
